<!-- kod strony -->

<div class="row">
    <form id="cover-calculator" class="form-horizontal" method="post" action="https://api.totem.com.pl/book/pdf">
        <input type="hidden" name="_token" value="nn5PvKz6UUcIuEinoS9IlABp6pkPPUZdMv8JeJgO">
        <input type="hidden" name="_tokenz" value="a2kHqgFqCPDNmdNzjQzAGgBcs8MThnSSMBZCj6smmvz69M6S45SaLUMDtZWa">
        <div class="col-xs-4">
            <select id="cover_type" name="cover_type" title="" class="hide">
                <option value="cover">cover</option>
                <option value="jacket">jacket</option>
            </select>
            <div class="form-group" id="printer_row">
                <label class="control-label col-xs-5" for="printer">Maszyna</label>
                <div class="col-xs-7">
                    <select class="form-control" id="printer" name="printer">
                        <option value="toner">Tonerowa</option>
                        <option value="ink-jet">Inkjetowa</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="job_name_row">
                <label class="control-label col-xs-5" for="job_name">Nazwa pracy</label>
                <div class="col-xs-7">
                    <input class="form-control" id="job_name" type="text" name="job_name">
                </div>
            </div>
            <div class="form-group" id="width_row">
                <label class="control-label col-xs-5" for="width">Szerokość</label>
                <div class="col-xs-7">
                    <div class="input-group">
                        <input class="form-control" id="width" type="number" step="1" name="width" value="165">
                        <span class="input-group-addon">mm</span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="height_row">
                <label class="control-label col-xs-5" for="height">Wysokość</label>
                <div class="col-xs-7">
                    <div class="input-group">
                        <input class="form-control" id="height" type="number" step="1" name="height" value="235">
                        <span class="input-group-addon">mm</span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="pages_row">
                <label class="control-label col-xs-5" for="pages">Ilość stron</label>
                <div class="col-xs-7">
                    <input class="form-control" id="pages" type="number" step="1" name="pages" value="100">
                </div>
            </div>
            <div class="form-group" id="bind_type_row">
                <label class="control-label col-xs-5" for="bind_type">Rodzaj oprawy</label>
                <div class="col-xs-7">
                    <select class="form-control" id="bind_type" name="bind_type">
                        <option value="glued" data-flaps="1" data-cardboard="0" data-show-big="1">Broszura, klejona</option>
                        <option value="sewn" data-flaps="1" data-cardboard="0" data-show-big="1">Broszura, szyta nićmi</option>
                        <option value="stapled" data-flaps="1" data-cardboard="0" data-show-big="0">Broszura, szyta drutem</option>
                        <option value="hardcvgld" data-flaps="0" data-cardboard="1" data-show-big="0">Twarda, klejona</option>
                        <option value="hardcv" data-flaps="0" data-cardboard="1" data-show-big="0">Twarda, szyta</option>
                        <option value="integrated" data-flaps="0" data-cardboard="0" data-show-big="0">Zintegrowana</option>
                        <option value="wireo" data-flaps="1" data-cardboard="0" data-show-big="0">Spirala</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="paper_type_row">
                <label class="control-label col-xs-5" for="paper_type">Rodzaj surowca</label>
                <div class="col-xs-7">
                    <select class="form-control" id="paper_type" name="paper_type">
                        <option value="Amber Graphic" data-id="1">Amber Graphic</option>
                        <option value="G-Print" data-id="2">G-Print</option>
                        <option value="Magno Satin" data-id="3">Magno Satin</option>
                        <option value="Magno Gloss" data-id="4">Magno Gloss</option>
                        <option value="Sora Matt Plus" data-id="5">Sora Matt Plus</option>
                        <option value="Alto" data-id="6">Alto</option>
                        <option value="Munken Print Cream" data-id="7">Munken Print Cream</option>
                        <option value="Munken Print White" data-id="8">Munken Print White</option>
                        <option value="Munken Premium Cream" data-id="9">Munken Premium Cream</option>
                        <option value="Munken Lynx" data-id="10">Munken Lynx</option>
                        <option value="Munken Pure" data-id="11">Munken Pure</option>
                        <option value="Munken Polar" data-id="12">Munken Polar</option>
                        <option value="Munken Kristal" data-id="13">Munken Kristal</option>
                        <option value="Creamy" data-id="14">Creamy</option>
                        <option value="Objętościowy" data-id="15">Objętościowy</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="weight_select_row">
                <label class="control-label col-xs-5" for="weight">Gramatura</label>
                <div class="col-xs-7">
                    <div class="input-group">
                        <select class="form-control" id="weight" name="weight">
                            <option value="60" data-id="1">60</option>
                            <option value="70" data-id="2">70</option>
                            <option value="80" data-id="3">80</option>
                            <option value="90" data-id="4">90</option>
                            <option value="100" data-id="5">100</option>
                            <option value="120" data-id="7">120</option>
                            <option value="130" data-id="8">130</option>
                            <option value="150" data-id="10">150</option>
                        </select>
                        <span class="input-group-addon">g/m</span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="weight_row" style="display: none;">
                <label class="control-label col-xs-5" for="weight">Gramatura</label>
                <div class="col-xs-7">
                    <div class="input-group">
                        <input class="form-control" id="weight" type="number" step="1" name="weight" value="80" disabled="">
                        <span class="input-group-addon">g/m</span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="volume_select_row">
                <label class="control-label col-xs-5" for="volume">Wolumen</label>
                <div class="col-xs-7">
                    <select class="form-control" id="volume" name="volume">
                        <option value="1.25" data-id="17">1.25</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="volume_row" style="display: none;">
                <label class="control-label col-xs-5" for="volume">Wolumen</label>
                <div class="col-xs-7">
                    <input class="form-control" id="volume" type="number" step="0.01" name="volume" value="1" disabled="">
                </div>
            </div>
            <div class="form-group" id="spine_row" style="display: none;">
                <label class="control-label col-xs-5" for="spine">Grzbiet</label>
                <div class="col-xs-7">
                    <select class="form-control" id="spine" name="spine">
                        <option value="flat">Prosty</option>
                        <option value="round">Zaokrąglony</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="cardboard_row" style="display: none;">
                <label class="control-label col-xs-5" for="cardboard">Grubość tektury</label>
                <div class="col-xs-7">
                    <div class="input-group">
                        <select class="form-control" id="cardboard" name="cardboard">
                            <option value="1">1</option>
                            <option value="1.5">1.5</option>
                            <option value="2">2</option>
                            <option value="2.5">2.5</option>
                            <option value="3">3</option>
                        </select>
                        <span class="input-group-addon">mm</span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="show_big_row">
                <label class="control-label col-xs-5" for="show_big">Pokaż pola bigów</label>
                <div class="col-xs-4">
                    <input class="switch-toggle" id="show_big" type="checkbox" name="show_big" value="1" checked="">
                    <label for="show_big"></label>
                </div>
            </div>
            <hr>
            <div class="form-group" id="insert_row">
                <label class="control-label col-xs-5" for="insert">Wkładka</label>
                <div class="col-xs-4">
                    <input class="switch-toggle" id="insert" type="checkbox" name="insert" value="1">
                    <label for="insert"></label>
                </div>
            </div>
            <div class="form-group" id="insert_pages_row" style="display: none;">
                <label class="control-label col-xs-5" for="insert_pages">Ilość stron</label>
                <div class="col-xs-7">
                    <input class="form-control" id="insert_pages" type="number" step="1" name="insert_pages" value="20">
                </div>
            </div>
            <div class="form-group" id="insert_paper_type_row" style="display: none;">
                <label class="control-label col-xs-5" for="insert_paper_type">Rodzaj surowca</label>
                <div class="col-xs-7">
                    <select class="form-control" id="insert_paper_type" name="insert_paper_type">
                        <option value="Amber Graphic" data-id="1">Amber Graphic</option>
                        <option value="G-Print" data-id="2">G-Print</option>
                        <option value="Magno Satin" data-id="3">Magno Satin</option>
                        <option value="Magno Gloss" data-id="4">Magno Gloss</option>
                        <option value="Sora Matt Plus" data-id="5">Sora Matt Plus</option>
                        <option value="Alto" data-id="6">Alto</option>
                        <option value="Munken Print Cream" data-id="7">Munken Print Cream</option>
                        <option value="Munken Print White" data-id="8">Munken Print White</option>
                        <option value="Munken Premium Cream" data-id="9">Munken Premium Cream</option>
                        <option value="Munken Lynx" data-id="10">Munken Lynx</option>
                        <option value="Munken Pure" data-id="11">Munken Pure</option>
                        <option value="Munken Polar" data-id="12">Munken Polar</option>
                        <option value="Munken Kristal" data-id="13">Munken Kristal</option>
                        <option value="Creamy" data-id="14">Creamy</option>
                        <option value="Objętościowy" data-id="15">Objętościowy</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="insert_weight_select_row" style="display: none;">
                <label class="control-label col-xs-5" for="insert_weight">Gramatura</label>
                <div class="col-xs-7">
                    <div class="input-group">
                        <select class="form-control" id="insert_weight" name="insert_weight">
                        </select>
                        <span class="input-group-addon">g/m</span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="insert_weight_row" style="display: none;">
                <label class="control-label col-xs-5" for="insert_weight">Gramatura</label>
                <div class="col-xs-7">
                    <div class="input-group">
                        <input class="form-control" id="insert_weight" type="number" step="1" name="insert_weight" value="80">
                        <span class="input-group-addon">g/m</span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="insert_volume_select_row" style="display: none;">
                <label class="control-label col-xs-5" for="insert_volume">Wolumen</label>
                <div class="col-xs-7">
                    <select class="form-control" id="insert_volume" name="insert_volume">
                    </select>
                </div>
            </div>
            <div class="form-group" id="insert_volume_row" style="display: none;">
                <label class="control-label col-xs-5" for="insert_volume">Wolumen</label>
                <div class="col-xs-7">
                    <input class="form-control" id="insert_volume" type="number" step="0.01" name="insert_volume" value="1">
                </div>
            </div>
            <hr>
            <div class="form-group" id="flaps_row">
                <label class="control-label col-xs-5" for="flaps">Skrzydełka okładki</label>
                <div class="col-xs-4">
                    <input class="switch-toggle" id="flaps" type="checkbox" name="flaps" value="1">
                    <label for="flaps"></label>
                </div>
            </div>
            <div class="form-group" id="flaps_symmetric_row" style="display: none;">
                <label class="control-label col-xs-5" for="flaps_symmetric">Symetryczne?</label>
                <div class="col-xs-4">
                    <input class="switch-toggle" id="flaps_symmetric" type="checkbox" name="flaps_symmetric" value="1" checked="">
                    <label for="flaps_symmetric"></label>
                </div>
            </div>
            <div class="form-group" id="flaps_left_row" style="display: none;">
                <label class="control-label col-xs-5" for="flaps_left">Skrzydełko lewe</label>
                <div class="col-xs-7">
                    <div class="input-group">
                        <input class="form-control" id="flaps_left" type="number" min="50" step="1" name="flaps_left" value="50">
                        <span class="input-group-addon">mm</span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="flaps_right_row" style="display: none;">
                <label class="control-label col-xs-5" for="flaps_right">Skrzydełko prawe</label>
                <div class="col-xs-7">
                    <div class="input-group">
                        <input class="form-control" id="flaps_right" type="number" min="50" step="1" name="flaps_right" value="50">
                        <span class="input-group-addon">mm</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-8">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#cover" aria-controls="cover" data-toggle="tab">Okładka</a>
                </li>
                <li>
                    <a href="#jacket" aria-controls="jacket" data-toggle="tab">Obwoluta</a>
                </li>
            </ul>
            <div class="tab-content" id="jacket">
                <div class="tab-pane in active" id="cover">
                    <div id="cover-preview">
                        <div id="cover-container" data-width="560" data-height="475" style="width: 560px;">

                            <div id="_total_width" class="text-top full-center">
                                <span>←</span>
                                <div id="arrow-width-left">
                                    <div class="arrow_left"></div>
                                </div>
                                <span class="total_width text">2012.5</span>
                                <span>→</span>
                                <div id="arrow-width-right">
                                    <div class="arrow_right"></div>
                                </div>
                            </div>

                            <div id="_total_height">
                                <span>↑</span>
                                <div id="arrow-height-top">
                                    <div class="arrow_top"></div>
                                </div>
                                <span class="total_height text">245</span>
                                <span>↓</span>
                                <div id="arrow-height-bottom">
                                    <div class="arrow_bottom"></div>
                                </div>
                            </div>

                            <div id="_bleeds" class="bg-bleeds">

                                <div class="bleeds full-center text" id="_bleed-top">5</div>
                                <div class="bleeds full-center text" id="_bleed-bottom">5</div>
                                <div class="bleeds text" id="_bleed-left">5</div>
                                <div class="bleeds text" id="_bleed-right">5</div>

                                <div id="_full_page" class="bg-page">

                                    <div id="_left_page_width" class="page-border">
                                        <div class="page_left_width full-center text-top text">992</div>
                                        <div class="page_height text-top text">235</div>
                                    </div>

                                    <div id="_right_page_width">
                                        <div class="page_height_width full-center text-top text">992</div>
                                        <div class="page_height text-top text">235</div>
                                    </div>

                                    <div id="_left_flap" class="bg-flap" style="display:none">
                                        <div class="left_flap full-center text-top text">0</div>
                                    </div>
                                    <div id="_right_flap" class="bg-flap" style="display:none">
                                        <div class="right_flap full-center text-top text">0</div>
                                    </div>

                                    <div id="_left_hinge" class="bg-hinge" style="display: block;">
                                        <div class="big hinge full-center text">7</div>
                                        <div class="big-text hinge-text text">big</div>
                                    </div>
                                    <div id="_spine" class="bg-page" style="display: block;">
                                        <div class="spine full-center text-top text">4.5</div>
                                        <div class="spine-text text-top text">Grzbiet</div>
                                    </div>
                                    <div id="_right_hinge" class="bg-hinge" style="display: block;">
                                        <div class="big hinge full-center text">7</div>
                                        <div class="big-text hinge-text text">big</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-4 text-right"><b>Wymiar bloku :</b></div>
                        <div class="col-xs-2"><span class="block-thickness">3.78</span> mm</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-right"><b>Grubość wkładki :</b></div>
                        <div class="col-xs-2"><span class="insert-thickness">0.00</span> mm</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-right"><b>Całkowita grubość bloku :</b></div>
                        <div class="col-xs-2"><span class="total-block-thickness">3.78</span> mm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <hr>

            <div class="form-group">
                <label class="control-label col-xs-2" for="language">Język pliku PDF:</label>
                <div class="col-xs-5">
                    <div class="input-group">
                        <select id="language" class="form-control" name="language">
                            <option value="pl" selected="">Polski</option>
                            <option value="en">Angielski</option>
                        </select>
                        <div class="input-group-btn">
                            <button class="btn btn-primary">Pobierz PDF</button>
                            <button class="btn btn-success" formaction="https://api.totem.com.pl/book/pdf-outline">Pobierz schemat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<style>
    #cover-calculator ul li:before {
        content: none;
    }
</style>
<!-- kod strony -->

